*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: 'Roboto', sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family);
}

body {
  background: linear-gradient(252.44deg, #6D6AD4 0%, #BBA4EE 100%, rgba(197, 196, 233, 0) 100%);
  font-size: 1.6rem;
}

label, input {
  display: block;
}

label {
  color: #7E79AE;
  font-weight: var(--font-medium);
  margin-bottom: .5rem;
}

input {
  border: 1px solid #C6C5EA;
  border-radius: .5rem;
  box-shadow: 0 11px 4px -10px hsla(242, 47%, 85%, 0.3);
  height: 4.5rem;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0 1.5rem;
  outline-color: #C6C5EA;
}

input::placeholder {
  opacity: .5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  background-color: #fff;
  border-radius: 3rem;
  padding: 4rem 2.5rem;
  max-width: 42rem;
}

.header__title {
  font-size: 3.6rem;
  font-weight: var(--font-bold);
  color: #9892CA;
  margin-bottom: 2rem;
}

.header__paragraph {
  line-height: 24px;
  color: #939393;
  margin-bottom: 3rem;
}

.botao {
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: var(--font-medium);
  width: 100%;
  background-color: #C5C4E9;
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  color: #fff;
  outline: none;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.botao:hover {
  background-color: #B5B4E4;
}

.resultado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  background-color: #C5C4E9;
  border-radius: .5rem;
  color: #fff;
  height: 11rem;
}